DJANGO_DEBUG=1
DJANGO_SECRET_KEY=change-this-key-before-production
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_TIME_ZONE=Asia/Almaty
DJANGO_SECURE_SSL_REDIRECT=0
SITE_NAME=LYNXFLOW
SITE_URL=http://127.0.0.1:8000